{% extends "base.html" %} {% block title %}Projektbeschreibung{% endblock %} {% block content %}



<form method="GET">
    <input type="text" name="query" placeholder="Suchbegriff eingeben">
    <select name="category" id="category">
        <option value="">Alle Kategorien</option>
        <option value="obst">Obst</option>
        <option value="gemuese">Gemüse</option>
        <option value="backwaren">Backwaren</option>
        <option value="kaffee-tee-kakao">Kaffe/Kakao</option>
        <option value="saucen-oele-gewuerze">Saucen/Öle/Gewürze</option>
        <option value="konserven-fertiggerichte">Konserven/Fertiggerichte</option>
        <option value="eis">Eis</option>
        <option value="tiefkuehl">TK (Tiefkühl)</option>
        <!-- Weitere Kategorien hier einfügen -->
    </select>
    <button type="submit">Suchen</button>
</form>
<ul>
    <table>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Preis</th>
            <th>Menge</th>
            <th>Einheit</th>
            <th>Kategorie</th>
        </tr>
        {% for product in products %}
            <tr>
                <td class="product-tile">
                    <img src="{{ product.icon }}" alt="{{ product.name }}">
                </td>
                <td class="product-tile">{{ product.name }}</td>
                <td class="product-tile">{{ product.price }}</td>
                <td class="product-tile">{{ product.menge }}</td>
                <td class="product-tile">{{ product.einheit }}</td>
                <td class="product-tile">{{ product.kategorie.capitalize() }}</td>
            
            </tr>
        {% endfor %}
    </table>
</ul>



{% if message %}
    <p>{{ message }}</p>
{% endif %}

<style>
    th {
        font-size: 30px;
        padding: 10px
    }
    img {
        height: 120px;
        width: 100px;
    }
    .product-tile {
        background-color: #f2f2f2;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
    }
</style>
{% endblock content %}