{% extends "base.html" %} {% block title %}Projektbeschreibung{% endblock %} {% block content %}
<p>https://www.chefkoch.de/rezepte/820481186558221/Zitronenkuchen.html</p>
<p>https://www.chefkoch.de/rezepte/1151011221381450/Der-beste-Pizzateig.html</p>
<p>https://www.chefkoch.de/rezepte/700651172648139/Murmels-Nudelsalat.html</p>

<form action="/" method="POST">
    <input type="text" name="console_link" placeholder="Link eingeben">
    <button type="submit">Suchen</button>
</form>

{% if selected_products %}
<h2>Ausgewählte Produkte:</h2>
<table>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Preis</th>
        <th>Menge</th>
        <th>Einheit</th>
        <th>Kategorie</th>
        <th></th>
    </tr>
    {% for product in selected_products %}
        <tr>
            <td class="product-tile">
                <img src="{{ product.icon }}" alt="{{ product.name }}">
            </td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.menge }}</td>
            <td>{{ product.einheit }}</td>
            <td>{{ product.kategorie.capitalize() }}</td>
            <td>
                <form action="/" method="POST" style="display: inline;">
                    <input type="hidden" name="action" value="remove">
                    <input type="hidden" name="product_name" value="{{ product.name }}">
                    <button type="submit">Entfernen</button>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>

<h2>Gesamtpreis: {{ total_price }}</h2>
{% endif %}
{% if recipelist %}
<p>Aus dem eingegeben Rezept wird nach: {{ default_query }} gesucht</p>
{{recipelist}}
{% endif %}
<form method="GET">
    <input type="text" name="query" placeholder="Suchbegriff eingeben" value="{{ default_query }}">
    <select name="category" id="category">
        <option value="">Alle Kategorien</option>
        <option value="obst">Obst</option>
        <option value="gemuese">Gemüse</option>
        <option value="backwaren">Backwaren</option>
        <option value="backen-dessert">Backen-dessert</option>
        <option value="kaffee-tee-kakao">Kaffe/Kakao</option>
        <option value="saucen-oele-gewuerze">Saucen/Öle/Gewürze</option>
        <option value="konserven-fertiggerichte">Konserven/Fertiggerichte</option>
        <option value="eis">Eis</option>
        <option value="tiefkuehl">TK (Tiefkühl)</option>

        <!-- Weitere Kategorien hier einfügen -->
    </select>    
    <button type="submit">Suchen</button>
</form>
{% if recipelist %}
    <form action="/" method="POST">
        <input type="hidden" name="action" value="weiter"> <!-- Verstecktes Feld, um die Aktion zu identifizieren -->
        <button type="submit">Weiter</button> <!-- Button zum Fortfahren zum nächsten Produkt -->
    </form>
{% endif %}


<ul>
    <table>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Preis</th>
            <th>Menge</th>
            <th>Einheit</th>
            <th>Kategorie</th>
            <th></th>
        </tr>
        {% for product in products %}
        <tr>
            <td class="product-tile">
                <img src="{{ product.icon }}" alt="{{ product.name }}">
            </td>
            <td class="product-tile">{{ product.name }}</td>
            <td class="product-tile">{{ product.price }}</td>
            <td class="product-tile">{{ product.menge }}</td>
            <td class="product-tile">{{ product.einheit }}</td>
            <td class="product-tile">{{ product.kategorie.capitalize() }}</td>
            <td class="product-tile">
                <form action="/" method="POST">
                    <input type="hidden" name="action" value="add"> <!-- Verstecktes Feld, um die Aktion zu identifizieren -->
                    <input type="hidden" name="product_name" value="{{ product.name }}"> <!-- Verstecktes Feld, um den Namen des Produkts zu übergeben -->
                    <button type="submit">Hinzufügen</button> <!-- Button zum Hinzufügen des Produkts -->
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>
</ul>

{% if message %}
    <p>{{ message }}</p>
{% endif %}


<style>
    th {
        font-size: 30px;
        padding: 10px
    }
    img {
        height: 120px;
        width: 100px;
    }
    .product-tile {
        background-color: #f2f2f2;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
    }
</style>
{% endblock content %}